
@model  DepartemtDetailsToRetunDto

@{
    ViewData["Title"] = "Delete";
    ViewData["Id"] = Model.Id;
}

<h1>Are you sure to Delete this department?</h1>

<br />
<br />


<partial name="Partials/DetailsDeleteDepartmentPartial" />
