@model DepartemtDetailsToRetunDto
@{
    ViewData["Title"] = "Details";
    ViewData["id"] = "Model.Id";
}

<h1>Department Details</h1>

<br />
<br />

<partial name="Partials/DetailsDeleteDepartmentPartial" />

