@using demo.PL.ViewModels.Departments
@model DepartmentViewModel
@{
    ViewData["Title"] = "Edit";
    ViewBag.Action = "Edit";
}

<div class="row justify-content-center align-items-center">
    <h1 class="col-8 my-4">Create New Department</h1>
    <br />
    <br />

    <partial name="Partials/CreateEditDepartmentPartial" />
</div>


@section validationSection {
    <partial name="_ValidationScriptsPartial" />
}